
/*reminder*/
/*  class with . and id with #   */
/* to create a box: margin, border, padding*/
/*margin-top can be used for the top side of box and bottom....*/
/*border-width, style, color ----puts a line around the box*/
/*can use a border-left-width.....*/
/*border: 2px solid yellow; also works same as above*/
/*padding makes empty spaces in the box padding: 50px; (top right bottom left)*/


/*span can be used for editting test in the middle*/


/*Text changes styling*/

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}


#cat {
    background-color: none;
    color: rgb(250, 109, 43); 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    /*making box now*/
    max-width: 80%;
    min-width: 50%;
        /*auto size box
        * width:100%;/* 
        testing box size*/

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px;
    border-color: rgb(250, 160, 150);
    border-style: solid;
    padding: 60px 50px 60px 50px;
    text-align: center;
    background-image: url(img/bg1.jpg);
    align-items: center;

    background-repeat: repeat;
    background-position: center;

}
#Pig {
    background-color: none;
    color: rgb(250, 109, 43); 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    /*making box now*/
    max-width: 80%;
    min-width: 50%;
        /*auto size box
        * width:100%;/* 
        testing box size*/

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px;
    border-color: rgb(250, 160, 150);
    border-style: solid;
    padding: 60px 50px 60px 50px;
    text-align: center;
    background-image: url(img/bg1.jpg);
    align-items: center;

    background-repeat: repeat;
    background-position: center;

}
#Rabbit {
    background-color: none;
    color: rgb(250, 109, 43); 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    /*making box now*/
    max-width: 80%;
    min-width: 50%;
        /*auto size box
        * width:100%;/* 
        testing box size*/

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px;
    border-color: rgb(250, 160, 150);
    border-style: solid;
    padding: 60px 50px 60px 50px;
    text-align: center;
    background-image: url(img/bg1.jpg);
    align-items: center;

    background-repeat: repeat;
    background-position: center;

}

.important{
    font-weight: bolder;
    text-decoration: underline;
    text-transform: uppercase;
}



#time{
    font-size: 18px;
    float:right;
    
}

a{
    color:rgb(212, 18, 138);

}
h1{
    background-color: none;
    color: none; 
    font-size: 60px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;

    margin-top: 0px;
}



body{
    background-color: lightblue; 
    color:rgb(218, 26, 90);
     font-size: 30px; 
     font-family: 'Courier New', Courier, monospace;

     background-image: url(img/mainbg.jpg);
     /*@babybluecat in unsplash.com*/
     background-size: cover;
     background-position: centre;
     position: relative;
}

div{
    background: none;
    width: 600px;
    /* height: 600px;*/
}


h2{
    background-color:none ;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(224, 88, 163); 
    text-align: center;
    margin-bottom: 50px;
}

/*section{
    background-color: 0;

    /*padding-left: 40px;
    padding-right: 40px;/
    align-items: center;/

}*/
ul{
    list-style-image: url(img/caticon.png);
}

button{
    padding: 5px 30px;  
    background: transparent;
    outline:none;
    border: 3px solid rgb(49, 165, 148);
    border-radius: 22px;
    color:rgb(79, 168, 124);
    font-size: 20px;
    font-weight:bolder;
    cursor:pointer;
    align-items: center;

}
/*background image*/
/* #bg{
    width: 100%;
    height: 100vh;
}
*/
#hiddenMessage{
    font-size: 21px;
    font-weight: bolder;
}
#hiddenMessage2{
    font-size: 21px;
    font-weight: bolder;
}
#question1{
    margin-top: 30px;
}
#question2{
    margin-top: 30px;
}

#title1{
    background-color: none;
    color: rgb(235, 167, 43); 
    font-size: 40px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;

    margin-top: 60px;
}
/*cat images below*/
#printpage{
    margin-top: 50px ;
}
#cat2{
    width: 300px;
    padding-bottom: 20px;

}
#fatcat{
    width: 280px;
    padding-bottom: 40px;
    float:left;
    margin-right: 10px;
    padding-top: 30px;
}
#Persian{
    width: 400px;
    padding-bottom: 20px;

}
#scottishfold{
    width: 400px;
    padding-bottom: 20px;

}
#pig1{
    width: 400px;
}
#rabbit1{
    width: 400px;
}
#column1{
    align-items: center;
}

#catol{
    text-align:left;
    padding: 50px;
}/*list-style-type*/
ol{
    list-style-position: inside;
}
ol li{
    font-size: 22px;
    font-weight: bold;
}

ul li{
    background-color: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight:normal;
}

.less{
    font-size: 20px;
    color: rgb(124, 124, 124);
}
.small{
    font-size: 12px;
    color: rgb(124, 124, 124);
    
}
a:visited{
    color:rgb(255, 118, 200);
}
a:hover{
    color:rgb(253, 161, 212);

}
a:active{
    color:rgb(187, 0, 78);

}

a:focus{
    color:rgb(58, 221, 140);

}

section{
    float:left;
    width:50%;
  

}
aside{
    float:right;
    width: 50%;
    

}

footer{
    margin-bottom: 0px;
    clear: both;
    color: rgb(255, 205, 205);
    background-color: rgb(141, 51, 66);
    padding: 40px 0;
    text-align: center;
    font-size: 16px;
}

.navbar{
    width: 100%;
    margin:auto;
    padding: 0px 0;
    padding-left: 10px;
    border-bottom: 3px;
    border-bottom-color: rgb(193, 224, 236);
    border-bottom-style: solid;
    background-color: rgba(255, 225, 239, 0.24);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar p{
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
    
}
#top1{
    margin-bottom: 40px;
}
.logo{
    width: 40px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    margin: 0 40px;
}
.navbar ul li a{ 
    text-decoration: none;
    color:rgb(163, 63, 63);
    font-size: 22px;
    font-weight: bolder;
    margin-right: 30px;
}

body::-webkit-scrollbar{
    width:0.75rem;
}
body::-webkit-scrollbar-track{
    background: rgb(209, 219, 216);
}
body::-webkit-scrollbar-thumb{
    background: rgb(253, 169, 208);
}

