
/*reminder*/
/*  class with . and id with #   */
/* to create a box: margin, border, padding*/
/*margin-top can be used for the top side of box and bottom....*/
/*border-width, style, color ----puts a line around the box*/
/*can use a border-left-width.....*/
/*border: 2px solid yellow; also works same as above*/
/*padding makes empty spaces in the box padding: 50px; (top right bottom left)*/


/*span can be used for editting test in the middle*/


/*Text changes styling*/
#cat {
    background-color: none;
    color: rgb(250, 109, 43); 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    /*making box now*/
    max-width: 1600px;
    min-width: 1200px;
        /*auto size box
        * width:100%;/* 
        testing box size*/

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px;
    border-color: rgb(250, 160, 150);
    border-style: solid;
    padding: 60px 100px 60px 100px;
    text-align: center;
    background-image: url(img/bg1.jpg);
    align-items: center;

    background-repeat: repeat;
    background-position: center;

}

.important{
    font-weight: bolder;
    text-decoration: underline;
    text-transform: uppercase;
}





a{
    color:rgb(212, 18, 138);

}
h1{
    background-color: none;
    color: none; 
    font-size: 60px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;

    margin-top: 0px;
}



body{
    background-color: lightblue; 
    color:rgb(218, 26, 90);
     font-size: 30px; 
     font-family: 'Courier New', Courier, monospace;

     background-image: url(img/mainbg.jpg);
     /*@babybluecat in unsplash.com*/
     background-size: cover;
     background-position: centre;
     position: relative;
}

div{
    background: none;
    width: 600px;
    /* height: 600px;*/
}


h2{
    background-color:none ;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(224, 88, 163); 
    text-align: center;

}

section{
    background-color: 0;

    padding-left: 40px;
    padding-right: 40px;
    align-items: center;

}


/*background image*/
/* #bg{
    width: 100%;
    height: 100vh;
}
*/




#title1{
    background-color: none;
    color: rgb(235, 167, 43); 
    font-size: 40px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;

    margin-top: 0px;
}
/*cat images below*/
#dog1{
    width: 300px;
    padding-bottom: 20px;
}
#cat2{
    width: 300px;
    padding-bottom: 20px;

}
#pig1{
    width: 400px;
}
#rabbit1{
    width: 400px;
}
#column1{
    float:left;
}
#column1{
    float:right;
}

.less{
    font-size: 20px;
    color: rgb(124, 124, 124);
}

a:hover{
    color:rgb(253, 161, 212);

}
