.cat {
    background-color: rgba(166, 255, 231, 0.5);
    color: rgb(231, 155, 41); 
    font-size: 21px; 
    font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: rgba(166, 255, 231, 0.5);
    color: rgb(231, 155, 41); 
    font-size: 60px; 
    font-family: 'Courier New', Courier, monospace;

}

body{
    background-color: lightblue; 
    color:rgb(104, 3, 36);
     font-size: 21px; 
     font-family: 'Courier New', Courier, monospace;
}